h1 {color: #2C3539
}

h2 {color: #2C3539
}

h1 {font-family: 'VT323', monospace; font-size: 30px}

h2 {font-family: 'Cedarville Cursive', cursive; font-size: 30px}


h1 {text-align: center; }

h2 {text-align: center; }


html {
  background: url(https://media1.tenor.com/images/2d157d4167caea0da98e22d61d320c1b/tenor.gif?itemid=13359593)
  no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

<style>
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  cursor: url('../Images/send.svg'),
  pointer;

}

header {
  background-color: transparent;
  padding: 30px;
  text-align: left;
  font-size: 35px;
  color: black;
}


nav {
  float: left;
  width: 30%;
  height: 300px;
  padding: 20px;
}


nav ul {
  list-style-type: none;
  padding: 0;
}

article {
  float: left;
  padding: 20px;
  width: 70%;
  height: 300px;
}

section:after {
  content: "";
  display: table;
  clear: both;
}

footer {
  background-color: transparent
  ;
  padding: 10px;
  text-align: center;
  color: black;
}

@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
