body {
   text-align: center;
 }
 body {
   background-color:black
 }
 p {
   text-align: center;
 }
i {color:grey
}
h4 {color:grey
}
h3 {color:grey
}
h1 {color:white
}
 h2 {color:grey
 }
 i {font-family: 'Raleway', sans-serif;
 font-size: 20px

}
h2 {font-family: 'Raleway', sans-serif;
font-size: 20px
}
h3 {font-family: 'Raleway', sans-serif;
font-size: 20px
}
h4 {font-family: 'Raleway', sans-serif;
font-size: 20px
}

button {
  background-color: black;
  border: 2px;
  color: grey;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
input {
 border: 2px solid grey;
 border-radius: 8px;
}
input {
  background-color: black;
  color: grey;
}
input {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
